/*Navigation Section*/
nav {
    background-color: yellow;
    height: 40px;
    position:fixed;
    width:100vw;
    position: absolute;
    top: 1px;
    z-index:5;
    display: flex;
    justify-content: space-around;
}

nav:hover {
    border:2px solid red;
}

nav * {
    font-size: 25px;
    font-family: 'New Tegomin';
    text-align: center;
    z-index: inherit;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a:visited {
    color: rgb(234, 0, 255);
}

ul, li {
    padding-top: 0;
    margin-top:0;
}
/*Opening Section*/
body {
    background-image: linear-gradient(to bottom right, rgb(196, 255, 255), rgb(204, 255, 255));
}

h1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: red;
}

h2 {
    font-size: 25px;
    padding-top: 0;
    margin-top: 0px !important;
    color: orange;
}

#opening {
    text-align: center;
    font-family: 'Reggae One';
    width:100vw;
    position:relative;
    top:20px;
    margin-bottom:30px;
}
/*Form*/
#registerForm {
    text-align:center;
}
.words {
    font-family: 'Yatra One';
    color:green;
}
.input {
    background-color: black;
    border:1px solid rgb(54, 255, 4);
    font-weight: 700;
    border-radius: 3px;
}
#username {
    color:rgb(75, 249, 255);
}
#password { 
    color:rgb(255, 0, 55);
}
.question {
    margin-bottom: 10px;
}
#register {
    background-color: black;
    text-align: center;
    width:70px;
    height:20px;
    margin-left: calc(50% - 35px);
    color:cornflowerblue;
    border-radius: 5px;
}