* {
    margin:0;
    box-sizing: border-box;
}

/*Navigation Section*/
nav {
    background-color: yellow;
    height: 40px;
    position:fixed;
    width:100vw;
    margin-top: 1px;
    z-index:100;
}

nav:hover {
    border:2px solid red;
}

nav * {
    font-size: 25px;
    font-family: 'New Tegomin';
    text-align: center;
    z-index: inherit;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 5%;
}

nav li a {
    color: red;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a:visited {
    color: rgb(234, 0, 255);
}

ul, li {
    padding-top: 0;
    margin-top:0;
}

/*Opening Section*/
body {
    background-image: linear-gradient(to bottom right, rgb(196, 255, 255), rgb(204, 255, 255));
}

h1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: red;
}

h2 {
    font-size: 25px;
    padding-top: 0;
    margin-top: 10px;
    color: orange;
}

#opening {
    text-align: center;
    font-family: 'Reggae One';
    width:100vw;
    position:relative;
    top:40px;
    margin-bottom:55px;
}
