* {
    margin:0;
    box-sizing: border-box;
}

nav {
    background-color: yellow;
    height: 40px;
    position:fixed;
    width:100vw;
    margin-top: 1px;
    z-index:100;
}

nav:hover {
    border:2px solid red;
}

nav * {
    font-size: 25px;
    font-family: 'New Tegomin';
    text-align: center;
    z-index: inherit;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 calc(1 / 10 * 100vw);
}

nav li a {
    color: red;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

ul, li {
    padding-top: 0;
    margin-top:0;
}

body {
    background-image: linear-gradient(to bottom right, rgb(196, 255, 255), rgb(204, 255, 255));
}

h1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: red;
}

h2 {
    font-size: 25px;
    padding-top: 0;
    margin-top: 10px;
    color: orange;
}

#opening {
    text-align: center;
    font-family: 'Reggae One';
    width:100vw;
    position:relative;
    top:40px;
    margin-bottom:55px;
}

input:hover {
    cursor: e-resize;
}

#range {
    width: 400px;
    display: block;
    margin-bottom: 10px;
}

#rate p {
    width:100vw;
    text-align: center;
    font-family: New Tegomin;
    font-size: 20px;
    color: coral;
}

#rate {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid aqua;
    margin-bottom: 5px;
}

form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

#why p {
    width:100vw;
    text-align: center;
    font-family: New Tegomin;
    font-size: 20px;
    color: coral;
}

#why {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid aqua;
    margin-bottom: 10px;
}

textarea {
    margin-bottom:10px;
    font-family: Pattaya, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:red;
    border-radius: 10px;
    outline: 1px solid red;
    border:5px double blue;
    transition: all 250ms;
    background-color: rgb(79, 255, 167);
}

textarea:hover {
    outline: 2.5px solid red;
    border:3px double blue;
    background-color: rgb(123, 255, 189);
}

textarea:focus {
    outline: 5px solid red;
    border:1px double blue;
    background-color: rgb(176, 255, 216);
}

input[type=submit] {
    background-color: steelblue;
    color: whitesmoke;
    border: 3px outset blueviolet;
}