:root {
    /*Main background*/
    --night-background:linear-gradient(to bottom right, #2b2929, rgb(128, 127, 127));
    --neon-background:linear-gradient(to bottom right, black, black);
    --color-background:linear-gradient(to bottom right, rgb(196, 255, 255), rgb(204, 255, 255));
    --light-background:linear-gradient(to bottom right, rgb(255, 230, 175), rgb(249, 255, 214));
    /*Filters*/
    --light-filter:brightness(70%);
    --neon-filter:brightness(130%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition:background-color 1s, 
}

/*Logo*/
@keyframes spin {
    0% {transform:rotate(0);filter: hue-rotate(0);}
    33.3% {transform:rotate(630deg);}
    66.6% {transform:rotate(630deg);}
    100% {transform:rotate(720deg);filter: hue-rotate(360deg);}
}
#logo {
    position: absolute;
    top: 110px;
    right:110px;
    animation:spin 5s linear infinite alternate;
    animation-fill-mode:forwards;
    position:absolute;
    top:5.5px;
    right: 500px;
}

@keyframes separation-right {
    0% {transform:translateY(0px);}
    50%{transform:translateY(-50px);}
    100%{transform:translateY(0px);}
}

@keyframes separation-left {
    0% {transform:translateY(0px);}
    50%{transform:translateY(50px);}
    100%{transform:translateY(0px);}
}

#logo .top {
    animation:separation-right 1.6666s ease-in-out 1.6666s infinite;
}
  
#logo .bottom {
    animation:separation-left 1.6666s ease-in-out 1.6666s infinite;
}

#logo .top {
    width: 0;
    border-bottom: 15px solid #6C6;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
#logo .middle {
    width: 52px;
    height: 30px;
    background: #6C6;
}
#logo .bottom {
    width: 0;
    border-top: 15px solid #6C6;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}

.before:not(.changer) {
    background: white !important;
}

.before *:not(.changer) {
    color: black !important;
    text-shadow:none !important;
}

.container {
    flex-grow: 1;
}

#fairness {
    height:1000px;
}

#head {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: red;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 15;
}

@keyframes emphasize {
    0% {text-shadow: 0 0 2px blue,0.5px 0.5px 3px red;}
    33.333% {text-shadow:0 0 2px blue,0.5px 0.5px 3px red, 1.5px 2px 3px orange;}
    66.666% {text-shadow:0 0 2px blue,0.5px 0.5px 3px red, 1.5px 2px 3px orange,3px 4px 3px green;}
    100% {text-shadow:0 0 2px blue,0.5px 0.5px 3px red, 1.5px 2px 3px orange,3px 4px 3px green, 4px 5.5px 3px purple;}
}

.light-text {
    filter:var(--light-filter);
}

.neon-text {
    filter:var(--neon-filter);
}

.night-text {
    color:white !important;
    text-shadow: 2px 2px 5px black !important;
}

#mainsub {
    font-size: 25px;
    padding-top: 0;
    margin-top: 10px;
    color: orange;
}

ul, li {
    padding-top: 0;
}

p, ul {
    font-size: 18px;
    text-indent: 15px;
    font-family: 'Shadows Into Light';
    color: rgb(1, 196, 98);
    margin-right: 10px;
    margin-left: 10px;
}

body {
    background-image: var(--light-background);
}

.color-main {
    background-image: var(--color-background);
}

.light-main {
    background-image: var(--light-background);
}

.night-main {
    background-image: var(--night-background);
}

.nightLogo .middle {
    background-color:white !important;
}

.nightLogo .top {
    border-bottom-color: white !important;
    filter: hue-rotate(0) !important;
}

.nightLogo .bottom {
    border-top-color: white !important;
    filter: hue-rotate(0) !important;
}
.defaultLogo .middle {
    background-color:black !important;
}

.defaultLogo .top {
    border-bottom-color: black !important;
    filter: hue-rotate(0) !important;
}

.defaultLogo .bottom {
    border-top-color: black !important;
    filter: hue-rotate(0) !important;
}

.lightLogo .middle {
    filter:brightness(75%);
}

.lightLogo .top {
    filter: hue-rotate(0) !important;
}

.lightLogo .bottom {
    filter: hue-rotate(0) !important;
}

.neonLogo .middle {
    filter:drop-shadow(5px 5px 5px #6c6);
}

.neonLogo .top {
    filter:drop-shadow(5px 5px 5px #6c6);
}

.neonLogo .bottom {
    filter:drop-shadow(5px 5px 5px #6c6);
}

.neon-main {
    background-image: var(--neon-background);
}

hr {
    border: 1px solid red;
}

nav {
    background-color: yellow;
    height: 40px;
    position:fixed;
    width:100vw;
    margin-top: 1px;
    z-index: 10;
}

nav:hover {
    border:2px solid red;
}

nav * {
    font-size: 25px;
    font-family: 'New Tegomin';
    text-align: center;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 5%;
}

nav li a {
    color: red;
    text-decoration: none;
}

nav li a:visited {
    color: rgb(234, 0, 255);
}

nav li a:hover {
    text-decoration: underline;
}

#opening {
    text-align: center;
    font-family: 'Reggae One';
    width:100vw;
    position:relative;
    top:40px;
    margin-bottom:55px;
}

.subtitle {
    text-align: center;
}

#description .subtitle {
    color: magenta;
}

#popularity li {
    color: red;
    text-indent: 300px;
    list-style: circle !important;
}

#ender {
    text-indent: 0;
}

#popularity .subtitle {
    color:blueviolet;
}

#popularity p {
    color:rgb(68, 211, 255);
}

#fairness .subtitle {
    color:green;
}

#fairness p {
    color: rgb(255, 0, 140);
}

/*Changing Style Mode*/
#modeChanger {
    position:fixed;
    bottom:5px;
    right:10px;
    height:125px;
    width:375px;
    display: flex;
}

.changer {
    padding: auto;
    width:100%;
    flex-grow:1;
    border-width: 1px;
}

.changer:hover {
    border-width: 3px;
}

.night {
    background-color: black;
    color: white;
}

.light {
    background-color: wheat;
    color: teal;
    border-color: tomato;
}

.color {
    background: linear-gradient(to bottom, rgb(60, 60, 255), rgb(87, 213, 255));
    color: #ff2fff;
    border-color: rgb(232, 109, 248);
    text-shadow: 0 0 1px purple;
}

.neon {
    background-color: black;
    color:rgb(255, 46, 192);
    font-family:'Shadows Into Light';
    border-color: rgb(71, 255, 47);
}

.default {
    background: white;
    color: black;
    border-color: black;
}

/*Media Queries*/
@media only screen and (max-width:50px) {
    nav * {
        font-size:7.5px;
    }
}

@media only screen and (max-width:100px) {
    nav * {
        font-size:12.5px;
    }
}

@media only screen and (max-width:300px) {
    nav * {
        font-size:20px;
    }
}

@media only screen and (max-width:500px) {
    nav * {
        font-size:22.5px;
    }
}

@media only screen and (max-width:700px) {
    nav * {
        font-size:27.5px;
    }

    nav li {
        padding: 0.125%;
    }
}
