/*Variables*/
:root {
    --brick:url('../images/brick.jpg');
    --lumber:url('../images/lumber.jpg');
    --ore:url('../images/ore.jpg');
    --sheep:url('../images/sheep.jpg');
    --wheat:url('../images/wheat.jpg');
    --desert:url('../images/desert.jpg');
}

/*Universal Styles*/
* {
    margin:0;
    box-sizing: border-box;
}
/*Randomizing*/
button.randomize {
    width: 100px;
    height: 100px;
    z-index:15;
    border-radius: 100px;
    position:absolute;
    left:100px;
}

.brick {
    background: var(--brick);
}

.sheep {
    background: var(--sheep);
}

.wheat {
    background: var(--wheat);
}

.lumber {
    background: var(--lumber);
}

.ore {
    background: var(--ore);
}

.desert {
    background: var(--desert);
}

#imgHex, #used {
    z-index:3;
    opacity:1;
    font-size:20px;
    width: calc(104px * 0.95);
    height: calc(120px * 0.95);
    overflow: hidden;
    shape-outside: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
    clip-path:polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}

.imgBoard .hex-row .hex {
    background: url('../images/question.png') !important;
}

/*Navigation Section*/
nav {
    background-color: yellow;
    height: 40px;
    position:fixed;
    width:100vw;
    position: absolute;
    top: 1px;
    z-index:5;
    display: flex;
    justify-content: space-around;
}

nav:hover {
    border:2px solid red;
}

nav * {
    font-size: 25px;
    font-family: 'New Tegomin';
    text-align: center;
    z-index: inherit;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a:visited {
    color: rgb(234, 0, 255);
}

ul, li {
    padding-top: 0;
    margin-top:0;
}

/*Opening Section*/
body {
    background-image: linear-gradient(to bottom right, rgb(196, 255, 255), rgb(204, 255, 255));
}

h1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: red;
}

h2 {
    font-size: 25px;
    padding-top: 0;
    margin-top: 10px;
    color: orange;
}

#opening {
    text-align: center;
    font-family: 'Reggae One';
    width:100vw;
    position:relative;
    top:40px;
    margin-bottom:55px;
}

/*The Board*/
#roadBoard {
    margin: 0 auto 110px auto;
    position: absolute;
    top:115px;
    opacity: 0;
}
.imgBoard {
    margin: 0 10px 110px auto;
    position: absolute;
    top:115px;
    z-index:10;
}
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}

.imgBoard * * {
    float: left;
    margin-left: calc(3px * 2.5) !important;
    margin-bottom: calc(-26px * 0.75) !important;
}
/*104px by 120px*/
.hex .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;   
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}

.hex-row.first, .hex-row.fifth {
    margin-left: 106px;
}

.hex-row.second, .hex-row.fourth {
    margin-left: 53px;
}
.imgBoard .hex-row * {
    display: flex;
    justify-content: center;
    align-items: center;
}
#propacircle,#usedCirc {
    background-color: burlywood;
    z-index:100;
    width: 40px;
    height:40px;
    border-radius:20px;
}
